body {
  font-size: 18px;
  background: linear-gradient(90deg,#F2DFD8,#F1C4A5,white);
}

.cabecalho {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin:auto;
  padding: 30px;
  background: linear-gradient(90deg,white 3%,#FFF6BA);
}

.nvMenu a {
   padding: 30px;
   font-weight: bold;
   color: white;
   color: #000000;
   widows: 100%;
   text-decoration: none;
}

.bntHome:hover {
  text-decoration: underline;
}
.btnSobre:hover{
  text-decoration: underline;
}

.bntHome:active {
  color: green;
}
.btnSobre:active {
  color: green;
}

strong {
  font-weight: bold;
}


main{
  background-image: url("fundo-main-index.png");
  background-repeat: no-repeat;
}

.txt-sobre {
  display: flex;
  flex-direction: column ;
  align-items: center;
  margin-top: 80px;
  padding: 10px;
}

h1 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.box-conteudo {
  margin-top: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.box-status,.btns {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 10px;
}

#btnInserir:hover {
  border: 1px solid green;
}

#btnRemover:hover {
  border: 1px solid green;
}

#btnInserir:active {
  color: purple;}

#btnRemover:active {
  color: purple;}
}


.rdnStatus {
  margin-top: 10px;
}

#tbConteudo {
  margin:  30px auto; 
  text-align: center;
  align-items: center;
  
}

th {
  background: #CCCC;
}

td,th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

.btns {
  width:25%;
  flex-direction: row;
  margin: auto;
  border-radius: 10px;
}


.rodape p {
  color: #000000;
}

.rodape { 
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  padding: 30px;
  color: white;
  background: linear-gradient(180deg,white,#FFF6BA);;
}

/*
mobile incompleto
*/
@media(max-width: 768px){


  main{
    width: 100%;
  }

  .cabecalho{
    width: 100%;
    flex-direction: column;
  }

  .principal {
    width: 100%;
  }

 .txt-sobre {
   width: 90%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 5%;
   box-sizing: border-box;

 } 

.box-conteudo {
  padding: 10%;
  align-items: center;
}

#txtDescricao {
  width: 100%;
}

 .btns{
   flex-direction: column ; 
 }

 #btnInserir,#btnRemover {
   height: auto;
   width:100%;
   margin: 5%;
 }




}